@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var groupedProducts = Model.Where(p => p.MaBoSuuTap != 0).GroupBy(p => p.MaBoSuuTap); // Nhóm sản phẩm theo mã bộ sưu tập

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css?v=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css?v=1.0">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js?v=1.0"></script>
<link rel="stylesheet" type="text/css" href="~/css/StyleForHome.css?v=1.0" />
<script src="~/js/xulygoisanphambosuutap.js?v=1.0"></script>
<link href="~/css/gia-sale.css?v=1.0" rel="stylesheet" />
<style>
	
	/* .original-price {
		text-decoration: line-through;
		margin-right: 10px;
	}

	.original-price,
	h5 span {
		display: inline-block;
	}

	.price-container {
		display: flex;
	} */
</style>
@model IEnumerable<SanPham> // Sửa kiểu dữ liệu tùy theo model của bạn
<section class="hero">
	<div class="container">
		<div class="row">
			@*Danh sách các bộ sưu tập*@
			@Html.Partial("_heroPartial")
			<div class="col-lg-9">
				<div class="hero__search">
					<div class="hero__search__form">
						@* <form action="#">

							<input type="text" placeholder="@KDKMenShop.Resrources.lang.Bạn_cần_tìm_">
							<button type="submit" class="site-btn">@KDKMenShop.Resrources.lang.Tìm_kiếm</button>
						</form> *@
						@*Tìm kiếm các sản phẩm*@
						@Html.Partial("_SearchCollectionPartial")
					</div>
					<div class="hero__search__phone">
						<div class="hero__search__phone__icon">
							<i class="fa fa-phone"></i>
						</div>
						<div class="hero__search__phone__text">
							<h5>+84 999999999</h5>
							<span>Hỗ trợ 24/7</span>
						</div>
					</div>
				</div>
				@Html.Partial("_BannerBoSuuTapPartial")
			</div>
		</div>
	</div>
</section>

@*------------------Bộ sưu tập miền gió cát-----------------------*@
@foreach (var group in groupedProducts)
{
	var collectionId = group.Key; // Mã bộ sưu tập
	var products = group.ToList(); // Danh sách sản phẩm trong bộ sưu tập này
	@*  var collectionImage = ""; // Ảnh đại diện cho bộ sưu tập, bạn có thể lấy từ cơ sở dữ liệu hoặc sử dụng ảnh mặc định *@
	var collectionName = ""; // Tên bộ sưu tập sẽ được lấy từ bảng BoSuuTap
	var collectionSlug = ""; // Tên bộ sưu tập sẽ được lấy từ bảng BoSuuTap
	using (var db = new ThoiTrangNamKDKContext()) // Thay "YourDbContext" bằng tên của DbContext của bạn
	{
		var collection = db.BoSuuTaps.FirstOrDefault(b => b.MaBoSuuTap != 0 && b.MaBoSuuTap ==collectionId);
		if (collection != null)
		{
			collectionName = collection.TenBoSuuTap;
			collectionSlug = collection.Slug;
		}
	}
	if (collectionId != 0)
	{
		<div class="col-lg-12">
			@* <div class="hero__item set-bg" data-setbg="@collectionImage"></div> *@
			<div class="section-title">
				@* <h2>@collectionName</h2> *@
				<h2><a href="@Url.Action("Index", "Collection", new { Slug = collectionSlug })">@collectionId.@collectionName</a></h2>
			</div>

			<div class="row featured__filter">
				<div class="owl-carousel owl-theme">
					@foreach (var product in products)
					{
						<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
							<div class="featured__item">
								<div class="featured__item__pic set-bg product-image" style="width:225px;">
									<img data-src="@($"{Url.Content("~/Images/" + product.HinhAnh)}")" class="owl-lazy" alt="Product Image" />
									
									<ul class="featured__item__pic__hover">
										<li>
											<a href="javascript:void(0);" class="add-to-wishlist" data-ma-san-pham="@product.MaSanPham" title="Thêm vào WishList">
												<i class="fa fa-heart"></i>
											</a>
										</li>
										<li>
											<a asp-action="Detail" asp-controller="Product" asp-route-maSP="@product.MaSanPham"><i class="fa fa-retweet"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);" class="add-to-cart" data-ma-san-pham="@product.MaSanPham">
												<i class="fa fa-shopping-cart"></i>
											</a>
										</li>
									</ul>
									<!-- hiển thị giảm giá ra màn hình sản phảm -->
									@if (product.Ma != null && product.Ma.MaVoucherNavigation != null && product.Ma.MaVoucherNavigation.ThoiGianBatDau <= DateTime.Now && product.Ma.MaVoucherNavigation.ThoiGianKetThuc >= DateTime.Now)
									{
										<div class="discount-percentage">
											-@product.Ma.MaVoucherNavigation.PhanTramGiam%
										</div>
									}
								</div>
								<a asp-action="Detail" asp-controller="Product" asp-route-maSP="@product.MaSanPham">
									<div class="featured__item__text">
										@if (product.Ma != null && product.Ma.MaVoucherNavigation != null&&
												product.Ma.MaVoucherNavigation.ThoiGianBatDau <= DateTime.Now && product.Ma.MaVoucherNavigation.ThoiGianKetThuc >= DateTime.Now)
										{
											<h5 class="price-container">
												<span class="original-price">@String.Format("{0:N0}", product.Gia)₫   </span>
												<span>@(String.Format("{0:N0}", product.Gia * (100 - product.Ma.MaVoucherNavigation.PhanTramGiam) / 100))₫</span>
											</h5>
										}
										else
										{
											// Xử lý khi một hoặc nhiều đối tượng không được khởi tạo
											<h5>@(String.Format("{0:N0}₫", product.Gia))</h5>
										}
									</div>
								</a>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	}
}

@*Hiện thông báo*@
<div id="cart-notification" class="cart-notification" style="display: none;">
	<span id="cart-message" class="cart-message">Sản phẩm đã được thêm vào giỏ hàng </span>
</div>
@* Hiển thị thông báo lỗi *@
<div id="error-notification" class="error-notification" style="display: none;">
	<span id="error-message" class="error-message"></span>
</div>

@* Hiển thị thông báo lỗi *@
<div id="wishlist-notification" class="wishlist-notification" style="display: none;">
	<span id="wishlist-message" class="wishlist-message">Sản phẩm đã được thêm vào danh sách yêu thích</span>
</div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js?v=1.0"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js?v=1.0"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js?v=1.0"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css?v=1.0" rel="stylesheet" />
	<script>
		$(document).ready(function () {
			$(".owl-carousel").owlCarousel({
				loop: false,
				margin: 0,
				nav: true,
				lazyLoad: true,
				responsive: {
					0: {
						items: 1
					},
					600: {
						items: 3
					},
					1000: {
						items: 5
					}
				}
			});
		});

		// $(document).ready(function () {
		// 	$(".add-to-cart").click(function () {
		// 		var maSanPham = $(this).data('ma-san-pham');
		// 		$.ajax({
		// 			url: '@Url.Action("ThemGio", "Cart")',
		// 			type: 'POST',
		// 			data: { MaSanPham: maSanPham },
		// 			success: function (result) {
		// 				if (result.success) {
		// 					// Thêm sản phẩm thành công, hiển thị thông báo thành công
		// 					$("#cart-notification").fadeIn();
		// 					// Cập nhật số lượng sản phẩm trong giỏ hàng
		// 					$("#cart-item-count").text(result.cartItemCount);
		// 					$("#cart-item-sum").text(result.cartItemSum);
		// 					setTimeout(function () {
		// 						$("#cart-notification").fadeOut();
		// 					}, 2500);
		// 				} else {
		// 					// Thêm sản phẩm thất bại, hiển thị thông báo lỗi
		// 					$("#error-message").text(result.error);
		// 					$("#error-notification").fadeIn();
		// 					setTimeout(function () {
		// 						$("#error-notification").fadeOut();
		// 					}, 2500);
		// 				}
		// 			},
		// 			error: function () {
		// 				// Hiển thị thông báo lỗi khi có lỗi xảy ra trong AJAX request
		// 				$("#error-message").text("Đã xảy ra lỗi, vui lòng thử lại sau");
		// 				$("#error-notification").fadeIn();
		// 				setTimeout(function () {
		// 					$("#error-notification").fadeOut();
		// 				}, 2500);
		// 			}
		// 		});
		// 	});
		// });
		// $(document).ready(function () {
		// 	$(".add-to-wishlist").click(function () {
		// 		var maSanPham = $(this).data('ma-san-pham');

		// 		$.ajax({
		// 			url: '@Url.Action("AddToWishlist", "Wishlist")',
		// 			type: "POST",
		// 			data: { MaSanPham: maSanPham },
		// 			success: function (result) {
		// 				if (result.success) {
		// 					// Thêm sản phẩm thành công, hiển thị thông báo thành công
		// 					$("#wishlist-notification").fadeIn();

		// 					$('#wishlist-item-count').text(result.wishlistItemCount);
		// 					setTimeout(function () {
		// 						$("#wishlist-notification").fadeOut();
		// 					}, 2500);
		// 				} else {
		// 					// Thêm sản phẩm thất bại, hiển thị thông báo lỗi
		// 					$("#error-message").text(result.error);
		// 					$("#error-notification").fadeIn();
		// 					setTimeout(function () {
		// 						$("#error-notification").fadeOut();
		// 					}, 2500);
		// 				}
		// 			},
		// 			error: function () {
		// 				// Hiển thị thông báo lỗi khi có lỗi xảy ra trong AJAX request
		// 				$("#error-message").text("Đã xảy ra lỗi, vui lòng thử lại sau");
		// 				$("#error-notification").fadeIn();
		// 				setTimeout(function () {
		// 					$("#error-notification").fadeOut();
		// 				}, 2500);
		// 			}
		// 		});
		// 	});
		// });
	</script>
	<script>
		$(document).ready(function () {
			$('#filter-toggle').click(function () {
				$('#filter-form-container').toggle();
			});
		});
		$(document).ready(function () {
			toastr.options = {
				"closeButton": true,
				"positionClass": "toast-bottom-right",
				"progressBar": true,
				"timeOut": "3000", // 3s
			};
			$(".add-to-cart").click(function () {
				var maSanPham = $(this).data("ma-san-pham");

				$.ajax({
					url: "@Url.Action("ThemGio", "Cart")",
					type: "POST",
					data: { MaSanPham: maSanPham },
					success: function (response) {
						if (response.success) {
							toastr.success("Đã thêm sản phẩm vào giỏ hàng!");
							// Update cart item count on success
							$("#cart-item-count").text(response.cartItemCount);
							$("#cart-item-sum").text(response.cartItemSum);

							// Hiển thị thông báo thành công

						} else {
							// Hiển thị thông báo lỗi
							toastr.error(response.error);
						}
					},
					error: function () {
						// Hiển thị thông báo lỗi khi có lỗi xảy ra trong AJAX request
						toastr.error("Đã xảy ra lỗi, vui lòng thử lại sau");

					}
				});
			});
			$(".add-to-wishlist").click(function () {
				var maSanPham = $(this).data('ma-san-pham');
				$.ajax({
					url: '@Url.Action("AddToWishlist", "Wishlist")',
					type: "POST",
					data: { MaSanPham: maSanPham },
					success: function (result) {
						if (result.success) {
							toastr.success("Thêm sản phẩm vào Wishlist thành công!");
							$('#wishlist-item-count').text(result.wishlistItemCount);
						} else {
							// Thêm sản phẩm thất bại, hiển thị thông báo lỗi
							toastr.error(result.error);


						}
					},
					error: function () {
						// Hiển thị thông báo lỗi khi có lỗi xảy ra trong AJAX request
						toastr.error("Đã xảy ra lỗi, vui lòng thử lại sau");
					}
				});
			});
		});
	</script>
    }

